<app-ppp-header [title]="'SPEISEN BESTELLEN'" [action_type]="'setting'"></app-ppp-header>

<ion-content>
    <div class="app_bg"></div>
    <ion-grid>
        <ion-row align-items-center>
            <ion-col class="item_wrap" size-xs="4" size-sm="3" size-md="2" size-lg="1" *ngFor="let item of m_category">
                <div class="item_cont_circle" (click)="showDetail(item);">
                    <i class="icon {{item.icon}}"></i>
                </div>
                <p>{{ item.title }}</p>
            </ion-col> 
        </ion-row>
    </ion-grid>
</ion-content>