div {
    &.title {
        margin-top: 12vh;
    }
    .txt_header {
        font-size: 2rem;
    }
}
ion-list {
    background: transparent;
    margin-top: 1vh;
    padding: 1rem 24vw; 
    a {
        text-decoration: none;
        color: black;
    }
    ion-item {
        --background: transparent;
        ion-icon {
            margin-right: .3rem;
        }
    }
}