<app-ppp-header [title]="'KONTAKT'" [action_type]="'cart'"></app-ppp-header>

<ion-content>
  <div class="app_bg"></div>
  <div class="title">
    <ion-text color="main" text-center>
      <h1 class="txt_header">PIPAPO MARKERESTAURANT</h1>
    </ion-text>
  </div>
  <ion-list>
    <ion-item lines="none">
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label text-wrap>
        <h2>Gerster GmbH Roseggerring 30 8054 Seiersberg-Pirka</h2>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>
        <a href="tel:0316/244 913"><h2>0316/244 913</h2></a>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-label>
        <a href="mailto:office@pipapo-graz.at"><h2>office@pipapo-graz.at</h2></a>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="globe" slot="start"></ion-icon>
      <ion-label>
        <a href="http://www.pipapo.at">www.pipapo.at</a>
      </ion-label>
    </ion-item>
  </ion-list> 
</ion-content>
