<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons>
      <ion-button>
        <ion-button (click)="onClose()">
          <ion-icon name="close" color="light "></ion-icon>
        </ion-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="img_cont">
    <ion-slides pager="true" [options]="m_slideOpts">
      <ion-slide *ngFor="let i of m_gallery">
        <ion-img [src]="i.img"></ion-img>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>