
@font-face {
    font-family: 'AmaticSC';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/AmaticSC-Regular.ttf') format('truetype');
}
  
@font-face {
    font-family: 'AmaticSC';
    font-style: bold;
    font-weight: bold;
    src: url('/assets/fonts/AmaticSC-Bold.ttf') format('truetype');
}
  
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Oswald-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: lighter;
    src: url('/assets/fonts/Oswald-Light.ttf') format('truetype');
}
  
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: bold;
    src: url('/assets/fonts/Oswald-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/OpenSans-Regular.ttf') format('truetype');
}
  
@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: bold;
    src: url('/assets/fonts/OpenSans-Semibold.ttf') format('truetype');
}