<app-ppp-header [title]="'GEBURTSTAGSAKTION'" [action_type]="'cart'"></app-ppp-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-label>
      <h2>
        <ion-text color="main">Sie haben Geburtstag?</ion-text>
      </h2>
      <p>Das soll gefeiert werden! Mit Vorzeigen von Lhrem Lichtbildausweis zeu Bestatigung essen Sie bei uns gratis!</p>
    </ion-label>
    <ion-img src="assets/images/img_gift.png"></ion-img>
    <ion-label>
      <p>Sagen Sie es bitte gleich bei der Bestellung dazu, damit es nicht verrechnet wird!</p>
    </ion-label>
    <ion-button color="main" shape="round" [routerLink]="'/menu/food-list'">Zur Speisekarte</ion-button>
  </ion-list>
</ion-content>
