<app-ppp-header [title]="'DANKE'" [action_type]="'cart'"></app-ppp-header>

<ion-content [ngClass]="'has_bg'" no-scroll>
  <div class="app_bg"></div>
  <ion-list text-center>
    <ion-icon mode="ios" name="checkmark-circle" color="success"></ion-icon>
    <ion-label>
      <h2>
        <ion-text color="main">
          Vielen Dank für Ihre Bestellung
        </ion-text>
      </h2>
      <p class="f-opensans">
        Wir benötigen 25 Minuten, um Ihr Essen vorzubereiten
      </p>
    </ion-label>
  </ion-list>
</ion-content>