ion-content {
    --overflow: hidden;
    ion-img:nth-of-type(2) {
        height: 4vh;
        margin-top: 3vh;
        opacity: 0.4;
        margin-bottom: -.05rem;
    }
    ion-img:nth-of-type(3) {
        height: 4vh;
        opacity: .4;
    }
    ion-list {
        margin-bottom: 2.4vh;
    }
    ion-button {
        font-weight: bold;
    }
}
.item_cont {
    margin: 0 auto;
    width: 80vw;
    box-shadow: 0 0 0.6rem .4rem rgba(0, 0, 0, 0.1);
    border-radius: 1.4rem;
    overflow: hidden;
    p {
        padding: 0.9rem .5rem;
        text-align: center;
        background-color: var(--ion-color-main);
        margin: 0;
        color: white;
        font-size: 1.4rem;
    }
    ion-list {
        padding: 2rem 1.4rem 0 1.4rem;
        ion-input {
            border: 1px solid lightgray;
            border-radius: 2rem;
            margin-bottom: .5rem;
            ::ng-deep input {
                padding-left: 1.2rem !important;
            }
        }
        ion-item {
            --ion-safe-area-right: 0;
            --ion-safe-area-left: 0;
        }
        ion-button {
            margin: .6rem 0;
        }
        a {
            display: block;
            padding-left: .5rem;
            color: #505050;
            font-size: .9rem;
            margin-bottom: 1.5vh;
        }
    }
}
.header-ios ion-toolbar:last-child {
    --border-width: 0;
}
ion-img.top_logo {
    margin-top: 10vh;
    height: 10vh; 
}